body,html {
  height: 100%;
  font-size: 26rpx;
}
image {
  width: 100%;
}
.price-color {
  color: #ff66a6;
}
.icon-box {
  display: inline-block;
  width: 40rpx;
  height: 40rpx;
}
.icon-box image {
  width: 100%;
}
.display-box {
  display: inline-block;
}
.float-left {
  float: left;
}
.display-box_3 {
  width: calc(100%/3);
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.float-right {
  float: right;
}
.box-padding {
  box-sizing: border-box;
  padding: 30rpx;
  line-height: 200%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
}
.btn-txt-color_white {
  color: #fff;
}
.btn_orange {
  background-color: #ffad33;
}
.btn_purple {
  background: #ff66a6;
}
.alert-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  left: 0;
  top: 0;
  background: #999;
}
